<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
    <listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
        <listEntry value="/phase_1_file/src/file_handling/Binary.java"/>
    </listAttribute>
    <listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
        <listEntry value="1"/>
    </listAttribute>
    <booleanAttribute key="org.eclipse.jdt.launching.ATTR_EXCLUDE_TEST_CODE" value="true"/>
    <stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="file_handling.Binary"/>
    <stringAttribute key="org.eclipse.jdt.launching.MODULE_NAME" value="phase_1_file"/>
    <stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="phase_1_file"/>
</launchConfiguration>
